.custom-navbar {
  background-color: #6f4f28;
}

.custom-navbar .navbar-brand {
  color: white;
  font-weight: bold;
}

.custom-navbar .navbar-text {
  color: white;
  font-weight: bold;
}

.custom-navbar .navbar-brand:hover,
.custom-navbar .navbar-text:hover {
  color: #c98e47;
}

.custom-dropdown .dropdown-toggle {
  color: white;
  font-weight: bold;
}

.custom-dropdown .dropdown-toggle:focus,
.custom-dropdown .dropdown-toggle:active,
.custom-dropdown .dropdown-toggle.show {
  color: white;
  font-weight: bold;
  background-color: transparent;
}

.custom-dropdown .dropdown-toggle:hover {
  color: #c98e47;
}

.custom-dropdown .dropdown-toggle::after {
  color: white;
}

.custom-dropdown .dropdown-menu {
  background-color: #6f4f28;
}

.custom-dropdown .dropdown-item {
  color: white;
  font-weight: bold;
}

.custom-dropdown .dropdown-item:hover {
  background-color: #c98e47;
  color: white;
}

/* Modal Styles */
.custom-modal .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
}

.custom-modal .modal-content {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 60vh;
}

.custom-modal .modal-header {
  border-bottom: none;
}

.custom-modal .modal-title {
  font-weight: bold;
  margin-top: 20px;
}

.custom-modal .modal-footer {
  border-top: none; 
}

.custom-modal .btn-primary {
  background-color: #6f4f28; 
  border: none;
}

.custom-modal .btn-primary:hover {
  background-color: #c98e47; 
}

.custom-modal .close {
  color: #6f4f28; 
  opacity: 1; 
}

.custom-modal .close:hover {
  color: #c98e47; 
}

