.custom-navbar {
    background-color: #6f4f28;
  }
  
  .custom-navbar .navbar-brand {
    color: white;
    font-weight: bold;
  }
  
  .custom-navbar .navbar-text {
    color: white;
    font-weight: bold;
  }
  
  .custom-navbar .navbar-brand:hover,
  .custom-navbar .navbar-text:hover {
    color: #c98e47;
  }

  .custom-dropdown .dropdown-toggle {
    color: white ; 
    font-weight: bold ; 
  }
  
  .custom-dropdown .dropdown-toggle:hover {
    color: #c98e47 ; 
  }
  
  .custom-dropdown .dropdown-menu {
    background-color: #6f4f28;
  }
  
  .custom-dropdown .dropdown-item {
    color: white;
    font-weight: bold;
  }
  
  .custom-dropdown .dropdown-item:hover {
    background-color: #c98e47;
    color: white;
  }

  .custom-dropdown .dropdown-toggle::after {
    color: white;
  }
  